<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>232139288863-hgdg5ekrm6oaphopspuqe1d8aovpcg9u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.232139288863-hgdg5ekrm6oaphopspuqe1d8aovpcg9u</string>
	<key>API_KEY</key>
	<string>AIzaSyCg5n1rg4i1hxt4IhobMpyqPNStcGRQRyM</string>
	<key>GCM_SENDER_ID</key>
	<string>232139288863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>team10app.67443</string>
	<key>PROJECT_ID</key>
	<string>team10app-4dd23</string>
	<key>STORAGE_BUCKET</key>
	<string>team10app-4dd23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:232139288863:ios:00ada82b404bd0dfba802a</string>
	<key>DATABASE_URL</key>
	<string>https://team10app-4dd23-default-rtdb.firebaseio.com</string>
</dict>
</plist>